html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: #0ea5e9;
    color: white;
    padding: 10px;
    height: 100%;
    grid-row: 1/5;
}

.bottom{
    position: fixed;
    bottom: 15px;
}



.Title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
}

#logo {
    fill: white;
    width: 3vh;
    margin-right: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    transition: transform 0.5s ease-in-out;
}

li > svg {
    height: 24px;
    width: 24px;
    fill: white;
    margin-right: 10px;
}

.card>div>svg {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.Topheader>svg,
.userBar>svg {
    height: 32px;
    width: 32px;
    fill: black;
    margin: 20px;
    margin-left: 30px;
}

.userBar {
    align-items: center;
}

.topList {
    margin-bottom: 4vh;
    position: sticky;
    top: 20px;
}

li:hover {
    transform: scale(1.05);
}

input {
    height: min-content;
    width: 110%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #dfeaeb;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

input:focus {
    background-color: #dadada;
    outline: none;
}

.Topheader {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0 4px 2px -2px rgb(39, 39, 39);
    grid-template-columns: min-content 1fr max-content max-content;
    grid-column-start: 2;
}

.Topheader> * {
    align-self: center;
}

img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 10px;
    justify-self: flex-end;
    margin-right: 20px;
    border: 2px solid #b8b8b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.username {
    font-size: 150%;
    font-weight: 900;
    justify-self: center;
    margin-right: 40px;
}

.notification {
    justify-self: flex-end;
    position: relative;
    cursor: pointer;
}

.profileBottom {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.welcomeMessage {
    margin-top: 10px;
    margin-left: 20px;
    align-self: center;
}

.actionBtns {
    display: flex;
    grid-column: 3/6;
}

button {
    border: none;
    background-color: #2d90e2;
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-right: 50px;
    width: 6vw;
}

button:hover {
    transform: scale(1.05);
}

.userBar {
    display: flex;
    justify-self: flex-end;
    grid-column: 3/6;
}

.searchLogo {
    justify-self: flex-end;
}

.mainContent {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: min-content;
    background-color: #e4e4e4;
    box-sizing: border-box;
    height: auto;
    padding-left: 30px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 15px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: 25vw;
    height: 25vh;
    border-left: 10px solid #0ea5e9;
    background-color: #ffffff;
    border-radius: 8px;
}

.card>p, .card>h3 {
    margin: 10px;
}

.card>p {
    font-size: 18px;
    color: #494949;
}

h2 {
    margin: 7px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.cardBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.announcementCard {
    display: grid;
    align-items: center;
    justify-self: center;
    grid-column: 2/3;
    grid-template-rows: min-content 1fr 1fr;
    width: 60%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trendingCard div
.announcementCard>div {
    margin-bottom: 10px;
}

.trendingCard h3,
.announcementCard h3 {
    font-size: 16px;
    margin-bottom: 2px;
}

.announcementCard p {
    font-size: 12px;
    color: #666666;
    border-bottom: 1px solid #6d6d6d;
    padding-bottom: 10px;
}

.trendingCard div:last-child,
.announcementCard div:last-child {
    margin-bottom: 0;
}

.projectsTitle {
    grid-column: 1/3;
}

.leftContent {
    display: grid;
    gap:15px;
    grid-template-rows: min-content 1fr min-content 1fr;
}

.leftContent h2{
    font-size: 24px;
    grid-column: span 1/3;
    text-align: center;
}

.trendingCard{
    display: grid;
    align-items: center;
    justify-self: center;
    grid-column: 2/3;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    width: 45%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trendingCard p {
    color: #707070;
}

svg:hover{
    scale: 1.05;
}